<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PulpBirthday.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data><userSettings>
        <PulpBirthday.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>172.17.0.30</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>e:\firebird\omts.fdb</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="ListTemplate" serializeAs="String">
                <value />
            </setting>
        </PulpBirthday.Properties.Settings>
    </userSettings>
</configuration>